@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&display=swap');

#hero {
  display: grid;
  text-align: center;
}

.h1-hero {
  font-family: 'Caveat', sans-serif;
  font-size: 60px;
  margin-bottom: 0;
}

.p-hero {
  font-family: 'Anonymous Pro', sans-serif;
  font-size: 20px;
}

.knuffi {
  width: 190px;
  pointer-events: none;
  margin-bottom: 20px;
  animation: rotate 3s infinite;
}

@keyframes rotate {

  0%,
  100% {
    rotate: -3deg;
    transform: translateX(-3px);
  }

  50% {
    rotate: 3deg;
    transform: translateX(3px);

  }

}

.snapstr-btn,
.reasons-btn,
.present-btn {
  width: 350px;
  text-align: center;
  color: white;
  font-size: 25px;
  background: linear-gradient(98deg, rgba(255, 126, 62, 0.647) 0%, rgba(227, 97, 89, 1) 100%);
  /* background: black; */
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-items {
  display: grid;
  justify-content: center;
}